mixin gallery   
    section.gallery
        .container
            .gallery__hr
                h2.title.gallery__title gallery
        .container
            .row
                .button
                    a.button__link see more