mixin projects
    section.projects(id="projects")
        .container
            .projects__hr
                h2.projects__h2.title what we do
            .row
                .col-12.col-md-6.col-xl-7
                    .projects__plate-img.projects__plate-img--first(id="lol")
                         img.projects__img(src="../dist/img/img1.png")
                .col-12.col-md-6.col-xl-5
                    .projects__plate
                        h3.projects__subtitle One World
                        h2.projects__title.title Trade Center
                        p.projects__text Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                            .button
                                a.button__link more details
                        .projects__location
                            i.fas.fa-map-marker-alt.projects__icon
                            p.projects__adress New York City, United States - 1776 feet
            .row.projects__center
                .col-12.order-2.order-md-1.col-md-6.col-xl-5
                    .projects__plate
                        h3.projects__subtitle International
                        h2.projects__title.title Commerce Centre
                        p.projects__text.projects__text--second Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                            .button 
                                a.button__link more details
                        .projects__location
                            i.fas.fa-map-marker-alt.projects__icon
                            p.projects__adress Hong Kong - 1588 Feet
                .col-12.order-1.order-md-2.col-md-6.col-xl-7
                    .projects__plate-img.projects__plate-img--second
                        img.projects__img.projects__img--second(src="../dist/img/img2.png")
