.projects {
    padding-top: 134px;
    padding-bottom: 139px;


    &__h2 {
        text-align: center;
        padding-bottom: 167px
    }

    &__hr {
        position: relative;


        :before {
            content: '';
            width: 100px;
            height: 1px;
            background-color: #2c4058;
            position: absolute;
            top: -16%;
            left: 46%;


        }

    }

    &__subtitle {
        color: #2c4058;
        font-family: 'GothamBook';
        line-height: 24px;
        text-transform: uppercase;
        font-size: 22px;
        padding-bottom: 6px;
    }

    &__plate {
        padding-top: 53px;
    }

    &__text {
        color: #4b5562;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-top: 27px;
        letter-spacing: 0.1px;
        padding-bottom: 31px;

        &--second {
            padding-top: 30px;
            padding-bottom: 32px;
        }
    }

    &__location {
        display: flex;
        color: #2c4058;
        padding-top: 59px;

    }

    &__adress {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
    }

    &__icon {
        margin-right: 7px;

    }

    &__center {
        padding-top: 206px;
    }


    &__plate-img--second {
        margin-left: 40px;
        position: relative;


        &:after {
            content: '';
            width: 461px;
            height: 470px;
            background-color: #7e5aff;
            position: absolute;
            bottom: 15%;
            left: 41%;
            display: block;
            z-index: 0;
        }
    }

    &__plate-img--first {
        position: relative;


        &:after {
            content: '';
            width: 461px;
            height: 470px;
            background-color: #55b7ff;
            position: absolute;
            bottom: 15%;
            left: -14%;
            display: block;
            z-index: 0;
        }
    }

    &__img {
        z-index: 3;
        position: relative;
        max-width: 100%;
    }


    @media screen and (max-width: 1199px) {
        &__plate-img--first::after {
            width: 100%;
            height: 100%;
            left: -6%;
        }

        &__plate-img--second {
            margin-left: 0;

            &:after {
                width: 100%;
                height: 100%;
                left: 4%;
            }
        }

        & {
            padding-top: 10%;
            padding-bottom: 10%;
        }

        &__h2 {
            padding-bottom: 20%;
        }

        &__center {
            padding-top: 10%;
        }
    }

    @media screen and (max-width: 575px) {
        &__hr ::before {
            width: 0;
            height: 0;
        }

        &__plate-img--second {

            &:after {
                left: 0;
            }
        }

        &__plate-img--first::after {
            width: 0;
            height: 0;

        }

        &__plate-img--second {

            &:after {
                width: 0;
                height: 0;

            }
        }
    }

    @media screen and (max-width: 991px) {
        &__location {
            padding-top: 10%;
            font-size: 16px;
        }

        &__adress {
            font-size: 16px;
        }

        &__plate {
            padding-top: 5%;
        }

        &__text {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 767px) {
        &__plate-img--second {
            margin-top: 10%;
        }

    }
}