mixin sticky
    section.sticky 
        .container
            .sticky__nav
                a.sticky__logo(href="#")
                    img.sticky__link(src="../dist/img/Logo.png")
                +nav
                +social__head       