mixin social
    ul.social__list
        li.social__item
            a.social__linkage(href="#")
                .social__icon
                    i.fab.fa-facebook-f.
        li.social__item
            a.social__linkage(href="#") 
                 .social__icon 
                    i.fab.fa-twitter
        li.social__item
            a.social__linkage(href="#") 
                 .social__icon 
                     i.fab.fa-instagram       
mixin social__head
    .social__plate.d-none.d-xl-block
        ul.social__list
            li.social__item
                a.social__linkage(href="#")
                    .social__icon
                        i.fab.fa-facebook-f.
            li.social__item
                a.social__linkage(href="#") 
                    .social__icon 
                        i.fab.fa-twitter
            li.social__item
                a.social__linkage(href="#") 
                    .social__icon 
                        i.fab.fa-instagram        