mixin nav
    nav.nav                       
        ul.nav__list.d-flex
            li.nav__item
                a.nav__link(href="#")
                    .nav__plate
                        .nav__dots
                        p.nav__text about us
            li.nav__item
                a.nav__link(href="#")
                    .nav__plate
                        .nav__dots
                        p.nav__text projects
            li.nav__item
                a.nav__link(href="#")
                    .nav__plate
                        .nav__dots
                        p.nav__text news 
            li.nav__item
                a.nav__link(href="#")
                    .nav__plate
                        .nav__dots
                        p.nav__text contact           