mixin nav
    .nav   
        ul.nav__list
            li.nav__item
                a.nav__link(href="#gallery1")
                    .nav__plate
                        .nav__dots
                        p.nav__text about us
            li.nav__item
                a.nav__link(href="#projects")
                    .nav__plate
                        .nav__dots
                        p.nav__text projects
            li.nav__item
                a.nav__link(href="#news")
                    .nav__plate
                        .nav__dots
                        p.nav__text news 
            li.nav__item
                a.nav__link(href="#contact")
                    .nav__plate
                        .nav__dots
                        p.nav__text contact        
    .nav__bar.d-lg-none
        .nav__overlay
        .nav__burger.d-lg-none
            span
            span
            span 
        ul.nav__barlist
            a.nav__close(href="#close") &times;
            li.nav__baritem
                a.nav__barlink(href="#gallery1")
                     .nav__plate
                        p.nav__text about us
            li.nav__baritem
                a.nav__barlink(href="#projects")
                    .nav__plate
                        p.nav__text projects
            li.nav__baritem
                a.nav__barlink(href="#news")
                    .nav__plate
                        p.nav__text news 
            li.nav__baritem
                a.nav__barlink(href="#contact")
                    .nav__plate
                        p.nav__text contact 
            +social  