mixin footer
    .footer
        .container
            a.footer__logo(href="#")
                img.footer__link(src="../../dist/img/Logo.png")
            +social
        .container
            .footer__copyright
                p Copyrights © 2017 Monticello Group
            .footer__author
                p Made with <i class="fas fa-heart footer__icon"></i> by Ga Huy
