mixin footer
    .footer(id="footer")
        .container
            .row
                .col-12.offset-lg-2.col-lg-8
                    .row
                        .col-12
                            .footer__plate
                                a.footer__logo(href="#")
                                    img.footer__link(src="../dist/img/Logo.png")
                                +social
                    .row
                        .col-12
                            .footer__copyright--plate
                                .footer__copyright
                                    p Copyrights © 2017 Monticello 
                                .footer__author
                                    a Made with <i class="fas fa-heart footer__icon"></i> by Ga Huy
