mixin header
    header.header
        .container-fluid
            .header__slider
                .header__slide1.slide
                    .container
                        h1.header__title Simple &amp; mordern
                        h2.header__subtitle We make the world's beautiful every day
                .header__slide2.slide
                    .container
                        h1.header__title Simple &amp; mordern
                        h2.header__subtitle We make the world's beautiful every day
                .header__slide3.slide
                    .container
                        h1.header__title Simple &amp; mordern
                        h2.header__subtitle We make the world's beautiful every day
                .header__slide4.slide
                    .container
                        h1.header__title Simple &amp; mordern
                        h2.header__subtitle We make the world's beautiful every day
                .header__slide5.slide
                    .container
                        h1.header__title Simple &amp; mordern
                        h2.header__subtitle We make the world's beautiful every day
            a(href="#projects")
                .header__scroll
                    i.fas.fa-chevron-down.header__icon         