.header {

    margin-top: -115px;

    &__slide1 {
        background-image: url(../../dist/img/slide1.png);
        height: 800px;
        background-position: top;
        background-size: cover;
    }

    &__slide2 {
        background-image: linear-gradient(45deg, rgba(85, 184, 255, 0.8) 0%, rgba(126, 90, 255, 0.8) 100%), url(../../dist/img/slide2.jpg);
        height: 800px;
        background-position: top;
        background-size: cover;
    }

    &__slide3 {
        background-image: linear-gradient(45deg, rgba(85, 184, 255, 0.8) 0%, rgba(126, 90, 255, 0.8) 100%), url(../../dist/img/slide3.jpg);
        height: 800px;
        background-position: top;
        background-size: cover;
    }

    &__slide4 {
        background-image: linear-gradient(45deg, rgba(85, 184, 255, 0.8) 0%, rgba(126, 90, 255, 0.8) 100%), url(../../dist/img/slide4.jpg);
        height: 800px;
        background-position: top;
        background-size: cover;
    }

    &__slide5 {
        background-image: linear-gradient(45deg, rgba(85, 184, 255, 0.8) 0%, rgba(126, 90, 255, 0.8) 100%), url(../../dist/img/slide5.jpg);
        height: 800px;
        background-position: top;
        background-size: cover;
    }

    @media screen and (max-width: 991px) {

        &__slide1,
        &__slide2,
        &__slide3,
        &__slide4,
        &__slide5 {
            height: 100%;
        }

        .slide {

            padding-top: 30%;
            text-align: center;

            @media screen and (max-width: 575px) {
                & {
                    padding-top: 40%;
                }
            }

        }

        &__subtitle {
            padding-bottom: 30%;
        }
    }



    &__title,
    &__subtitle {
        color: #FFFFFF;
        font-family: 'gothambold1';
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        word-spacing: 11px;
    }

    &__subtitle {
        font-size: 18px;
        font-family: 'GothamBook';
        font-weight: 300;
        word-spacing: 17px;
        letter-spacing: 2.7px;

        @media screen and (max-width: 991px) {
            & {
                word-spacing: 0;
                letter-spacing: 0;
            }
        }

    }

    &__title {
        padding-bottom: 25px;

        @media screen and (max-width: 991px) {
            & {
                font-size: 68px;
            }
        }

        @media screen and (max-width: 767px) {
            & {
                font-size: 43px;
            }
        }

        @media screen and (max-width: 575px) {
            & {
                font-size: 35px;
            }
        }
    }

    &__scroll {
        position: absolute;
        left: 48.5%;
        bottom: 6%;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            background-color: white;
        }
    }

    &__icon {
        font-size: 10px;
        color: white;
    }

    &__scroll:hover .header__icon {
        color: violet;
    }
}

.header__slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.header__slider .slick-dots li {
    display: inline;
}

.slide {
    padding-top: 360px;
    text-align: center;
}

.header__slider .slick-dots li button::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid white;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    z-index: 3;
    opacity: 1;
}

.header__slider .slick-dots li.slick-active button::before {
    background-color: white;
}

.header__slider .slick-dots {
    width: 0;
    right: 40px;
    bottom: 35%;
}

.header .container-fluid {
    position: relative;
}

.header__slider>.slick-list>.slick-track>.slick-slide.slick-current>img {
    opacity: 1;
}

.header__slider>.slick-list>.slick-track>.slick-slide:not(.slick-current)>img {
    opacity: 0;
}

.slick-vertical .slick-slide {

    border: none;
}