mixin news
    section.news(id="news")
        .container
            .news__hr
              h2.title.news__title latest news
            .row.my-slider
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus.d-flex.justify-content-center.align-items-center 
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img3.png")
                            .news__section
                                    h3.news__subtitle See The Unmatched Beauty Of The Great. 
                                    p.news__text Free directories: directories are perfect for customers that are... searching for  
                                    .news__wrapper
                                        img.news__foto(src="../dist/img/img3.3.png")
                                        .news__details
                                            p.news__name Isaac Dunn
                                            p.news__date 09 Feb 2017                 
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img4.png")
                            .news__section
                                    h3.news__subtitle Effective Advertising Pointers.
                                    p.news__text Having a home based business is a wonderful asset to your life... 
                                    .news__wrapper.news__wrapper--second
                                        img.news__foto(src="../dist/img/img4.1.png")
                                        .news__details
                                            p.news__name Dominic Freeman
                                            p.news__date 24 Apr 2017 
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img5.png")
                            .news__section
                                    h3.news__subtitle Hypnotize Yourself Into The Ghost.
                                    p.news__text There are many things that are important to catalog design.... 
                                    .news__wrapper
                                        img.news__foto(src="../dist/img/img5.1.png")
                                        .news__details
                                            p.news__name Alice Ward
                                            p.news__date 30 Dec 2017 
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img3.png")
                            .news__section
                                    h3.news__subtitle See The Unmatched Beauty Of The Great. 
                                    p.news__text Free directories: directories are perfect for customers that are... searching for  
                                    .news__wrapper
                                        img.news__foto(src="../dist/img/img3.3.png")
                                        .news__details
                                            p.news__name Isaac Dunn
                                            p.news__date 09 Feb 2017                 
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img4.png")
                            .news__section
                                    h3.news__subtitle Effective Advertising Pointers.
                                    p.news__text Having a home based business is a wonderful asset to your life... 
                                    .news__wrapper.news__wrapper--second
                                        img.news__foto(src="../dist/img/img4.1.png")
                                        .news__details
                                            p.news__name Dominic Freeman
                                            p.news__date 24 Apr 2017 
                .col-4.news__col
                    .news__plate
                            .news__img-link
                                .news__plus
                                    img(src="../dist/img/plus.png")
                                img.news__img(src="../dist/img/img5.png")
                            .news__section
                                    h3.news__subtitle Hypnotize Yourself Into The Ghost.
                                    p.news__text There are many things that are important to catalog design.... 
                                    .news__wrapper
                                        img.news__foto(src="../dist/img/img5.1.png")
                                        .news__details
                                            p.news__name Alice Ward
                                            p.news__date 30 Dec 2017 

