a {
    text-decoration: none;
    cursor: pointer;
}


body {
    background-color: white;
    // background-image: url(../../pv.png);
    background-position: top;
    font-family: 'GothamBook';
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

// .text {
//     &-left {
//         text-align: left;
//     }

//     &-center {
//         text-align: center;
//     }

//     &-right {
//         text-align: right;
//     }
// }

.button__link {
    color: #2c4058;
    font-family: 'GothamBook';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;


}

.button {
    width: 190px;
    height: 50px;
    border: 1px solid #2c4058;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: #2c4058;
        color: white;
        transition: all 1s;
    }
}

.button:hover .button__link {


    color: white;
    transition: all 1s;

}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.title {
    color: #2c4058;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'gothambold1';

}